<div class="container">
    <div class="header">
        <div class="title">
            <img src="../../../assets/img/banco-pichincha-logo.png" alt="log-bp" width="200px">
        </div>
    </div>
    <div class="content">
        <div class="top">
            <input type="text" class="search-input" [(ngModel)]="searchValue" placeholder="Search..." (keyup)="applyFilter()">
            <button routerLink="add-product">{{ buttonText }}</button>
        </div>
        <app-table *ngIf="listaProductos && listaProductos.length > 0" [products]="listaProductos" ></app-table>
    </div>
</div>