.content {
    margin: 80px 60px;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    vertical-align: bottom;
    width: 100%;
}

.search-input {
    border-radius: 6px;
    min-height: 8*4px;
    margin-bottom: 24px;
    border: 2px solid #DADBDD;
    font-size: 12px;
    text-indent: 8px;
}


button {
    background-color: #ffdd00;
    min-height: 40px;
    border-radius: 6px;
    margin-bottom: 24px;
    color: #0f265c;
    font-weight: bold;
    border: none;
    font-size: 10px;
    min-width: 80px
}