<form class="form-container" [formGroup]="productoForm" (submit)="addEditProduct()">
    <div class="form-column">
      <div class="form-group">
        <label for="id">ID:</label>
        <input formControlName="description" type="text" id="id" name="id">
      </div>
      <div class="form-group">
        <label for="description">Descripción:</label>
        <input  formControlName="description" type="text" id="description" name="description">
      </div>
      <div class="form-group">
        <label for="date_release">Fecha de Liberación:</label>
        <input formControlName="date_release" type="date" id="date_release" name="date_release">
      </div>
    </div>
    <div class="form-column">
      <div class="form-group">
        <label for="name">Nombre:</label>
        <input formControlName="name" type="text" id="name" name="name">
      </div>
      <div class="form-group">
        <label for="logo">Logo:</label>
        <input formControlName="logo" type="text" id="logo" name="logo">
      </div>
      <div class="form-group">
        <label for="date_revision">Fecha de Revisión:</label>
        <input formControlName="date_revision" type="date" id="date_revision" name="date_revision">
      </div>
    </div>
    <div class="form-actions">
      <button type="reset" class="btn btn-secondary">Reiniciar</button>
      <button type="submit" [disabled]="productoForm.invalid" class="btn btn-primary">Enviar</button>
    </div>
  </form>
  